.page-section.bg-blue {
    text-align: center;
    color: #ffff !important;
}

.page-section .title-section {
    color: black;
}

.bg-blue {
  background-color: #1229FB !important;
}

.header-putih{
  color: #ffff !important;
}